# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

venv

# Environment variables
.env

# Distribution / packaging
.Python
build/
develop-eggs/
dist/

# Streamlit cache
.streamlit/